@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at 89.5% 31.58%, #ffffcb 0, #ffffc6 10%, #fff7c2 20%, #ffe8bc 30%, #ffd7b6 40%, #eec6ae 50%, #d8b5a6 60%, #c4a89e 70%, #b29c96 80%, #a29290 90%, #958a8a 100%);
}