.messages-container {
    height: 400px; /* o cualquier otro valor que desees */
    overflow-y: auto; /* permite el desplazamiento vertical cuando el contenido excede la altura */
    border: 1px solid #ccc; /* esto es opcional, solo para visualizar el área del contenedor */     
    
  
}

.message.sent {
    background-color: #3c738c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.message.received {
    background-color: #976060;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    align-self: flex-start;
}

.messages-container {
    display: flex;
    flex-direction: column;
}

.conversation-start {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.user-images img {
    margin: 0 15px;
}

h2 {
    color: #333;
    font-size: 24px;
}



