<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {{#each matches as |matchData|}}
            <div class="mb-4 border rounded p-3 shadow-sm">
                <div class="d-flex align-items-center justify-content-start">
                    <img src="{{matchData.user.avatarUrl}}" alt="Avatar" class="rounded-circle mr-4" width="150">
                    <div class="text-center flex-grow-1">
                        <h2>{{matchData.user.username}}</h2>
                        <h5 class="text-muted"><i>{{matchData.user.description}}</i></h5>
                        <a class="btn btn-primary btn-sm mt-2" href="/match/{{matchData.matchId}}">Message</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
